@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
  background-color: white;

  &.dark {
    color: #fff;
    background-color: #000;
  }
}

a,
button {
  color: #008bd0;
}

.content--wrapper {
  display: flex;
  flex-wrap: nowrap;
  position: relative;

  &:focus {
    outline: none;
  }
}

.content--wrapper main {
  flex: 0 1 100%;

  &:focus {
    outline: none;
  }

  @media screen and (min-width: 1025px) {
    flex: 0 1 80%;
  }
}

.layout--header {
  position: relative;
  width: 100%;
  display: block;
}

.theme-switcher {
  &.light {
    @apply pl-1;
    @apply pr-8;
    @apply bg-gray-300;
  }
}

.content--wrapper aside.song--controls {
  flex: 0 1 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  left: 0;

  @media screen and (min-width: 1025px) {
    flex: 0 1 20%;
    position: fixed;
    top: 10%;
    right: 26px;
    width: 200px;
    left: unset;
    bottom: unset;
  }
}

.content--wrapper .song--controls button.btn,
.content--wrapper .song--controls a.btn {
  display: block;
  cursor: pointer;

  @apply border p-2 w-full mb-0 lg:mb-4 rounded-md shadow text-black transition-colors border-gray-500 dark:text-blue-500 dark:bg-gray-900 dark:hover:bg-gray-800;
}

.beat {
  background-color: #21cc12;
  color: #000;
}

.song--main-wrapper {
  display: block;
}

.active .active-focus {
  display: block;
  position: fixed;
  height: 75px;
  width: 100%;
  top: 16%;
  left: 4px;
  background-color: #fff;
  z-index: -1;
  opacity: 0.2;

  @media screen and (min-width: 1025px) {
    width: calc(100% - 250px);
  }
}

.song--line {
  margin-bottom: 8px;
  margin-right: 5%;
  font-weight: 400;
}

.song--line.active {
  outline: 1px solid violet;
  outline-offset: 5px;
}

.em {
  font-style: italic;
  font-weight: 100;
}

.strong {
  font-weight: 700;
}

.list--inline li {
  display: inline-block;
  margin-right: 2rem;
}

ul.song--meta {
  padding: 0 0 40px 0;
}
