@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
  background-color: white;

  &.dark {
    color: #fff;
    background-color: #000;
  }
}

a,
button {
  color: #2fa9e6;
}

.content--wrapper {
  display: flex;
  flex-wrap: nowrap;
  position: relative;

  &:focus {
    outline: none;
  }
}

.content--wrapper main {
  flex: 0 1 100%;

  &:focus {
    outline: none;
  }

  @media screen and (min-width: 1025px) {
    flex: 0 1 88%;
  }
}

.layout--header {
  position: relative;
  width: 100%;
  display: block;
}

.theme-switcher {
  &.light {
    @apply pl-1;
    @apply pr-8;
    @apply bg-gray-300;
  }
}

.content--wrapper aside.song--controls {
  flex: 0 1 100%;
  position: fixed;
  bottom: 1px;
  right: 0;
  width: 100%;
  left: 0;

  @media screen and (min-width: 1024px) {
    flex: 0 1 12%;
    top: 10%;
    right: 16px;
    width: 75px;
    left: unset;
    bottom: unset;
    text-align: center;
  }

  @media screen and (min-width: 1280px) {
    flex: 0 1 12%;
    right: 26px;
    width: 138px;
    text-align: left;
  }
}

.content--wrapper .song--controls button.btn,
.content--wrapper .song--controls a.btn,
.content--wrapper .song--controls input {
  display: block;
  cursor: pointer;

  @apply border p-2 w-full mb-0 lg:mb-4 rounded-md shadow text-black transition-colors border-gray-500 dark:text-blue-500 dark:bg-gray-900 dark:hover:bg-gray-800 dark:hover:text-blue-300 hover:text-blue-300 font-sans text-sm md:text-lg;
}

.content--wrapper .song--controls input {
  &::placeholder {
    font-size: 10px;
    color: #fff;
  }
}

.beat {
  background-color: #21cc12;
  color: #000;
}

.song--main-wrapper {
  display: block;
}

.active .active-focus {
  display: block;
  position: fixed;
  height: 75px;
  width: 100%;
  top: 16%;
  left: 4px;
  background-color: #fff;
  z-index: -1;
  opacity: 0.2;

  @media screen and (min-width: 1025px) {
    width: calc(100% - 250px);
  }
}

.song--line {
  margin-bottom: 8px;
  margin-right: 5%;
  line-height: 2.5rem;

  .em {
    @apply font-thin italic text-lg mt-6;
  }

  .info {
    @apply font-thin italic text-lg mt-6 text-yellow-300;
  }

  .section {
    @apply text-2xl mt-6 italic text-green-600 font-semibold;
  }

  &:first-of-type .em,
  &:first-of-type .section {
    @apply mt-0;
  }

  &.active {
    outline: 1px solid violet;
    outline-offset: 5px;
  }
}

.strong,
.chords {
  @apply font-bold;
}

.chords {
  font-family: sans-serif; // Keep chord spaces smaller size
  letter-spacing: 0.5ch;
  white-space: break-spaces;

  @media screen and (min-width: 1369px) {
    letter-spacing: 1.6px;
  }
}

.list--inline li {
  display: inline-block;
  margin-right: 2rem;

  &.block {
    display: block;
  }
}

.song--end {
  padding-bottom: 50vh;
}

.list--grid {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: 1025px) {
    // grid-template-columns: repeat(2, minmax(65%, 1fr));
    grid-template-columns: 64% 1fr;
  }
}

.songlist,
.setlist {
  max-width: 99%;
}

.songlist .list,
.set--main-wrapper .list {
  @media screen and (min-width: 1366px) {
    column-count: 2;
  }
}

.set--main-wrapper .list {
  @media screen and (min-width: 1366px) {
    column-gap: 3rem;
  }
}

.keep-awake {
  position: absolute;
  right: 0;
  top: 0;
}
